/* Feedback.css */

/* Container for the entire form */
.feedback{
    margin: auto;
  padding-top: 100px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-photo/party-still-life-collection-top-view_23-2148736163.jpg?w=740&t=st=1698766916~exp=1698767516~hmac=0732bf41422366acd53f49f87adb1abb91ffb413bed29ea28dc35afb4446e46f');
  background-repeat:'no-repeat';
  background-position: center;
  background-size: cover;
}
.feedback-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Form heading */
  .feedback-heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Form labels */
  .feedback-label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    width: 45%; /* Set the width for labels */
    float: left;
    clear: left;
  }
  
  /* Input elements */
  .feedback-input {
    width: 50%; /* Set the width for input fields */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
  }
  